<div id="sponsor">
  <h3>Patrocínio:</h3>
  <p><a href="http://www.grupocev.com/" title="Grupo CEV"><img src="/images/cev.png" alt="Grupo CEV" /></a></p>
  <p><a href="http://www.pi.sebrae.com.br/" title="Sebrae Piauí"><img src="/images/sebrae.png" alt="Sebrae Piauí" /></a></p>
</div>
